@headerHeight: 60px;
@menuWidth: 200px;
@menuCollapsedWidth: 60px;
@collapseTransition: all .3s linear;

.home {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: @headerHeight;
    padding: 4px 6px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);
    transition: @collapseTransition;
    .logoWrap {
        width: 220px;
        img {
            height: 40px;
        }
    }
    .toggleBtn {
        flex: 1;
    }
}

.header.collapsed {

}

.menu {
    box-sizing: border-box;
    position: absolute;
    top: @headerHeight;
    bottom: 0;
    left: 0;
    width: @menuWidth;
    background: #192a5e;
    transition: @collapseTransition;
}

.menu.collapsed {
    width: @menuCollapsedWidth;
}


.content {
    box-sizing: border-box;
    position: absolute;
    left: @menuWidth;
    top: @headerHeight;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    transition: @collapseTransition;
}

.content.collapsed {
    left: @menuCollapsedWidth;
}
